@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Macondo+Swash+Caps&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Ojuju:wght@200..800&family=Rock+Salt&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Newsreader', serif;
}

.backer-overlay {
  background-color: rgba(0, 0, 0, 0.685);
}

.header {
  z-index: 1000;
}

.bold {
  font-weight: bold;
}

.header a:hover {
  cursor: crosshair;
}

article img {
  max-width: 50%;
  margin: auto;
}

.btn {
  width: 100px;
  height: fit-content;
  min-height: 30px;
  border-radius: 5px;
  background: transparent;
  border: 1px dashed black;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Abril Fatface', cursive;
}

.card h4 {
  text-align: center;
  margin: auto;
  justify-content: center;
}

.btn2,
.btn3,
.btn4 {
  background-color: rgba(231, 231, 197, 0.917);
}

.card,
.card3,
.card4,
.card5 {
  width: 80%;
  margin: 15px auto;
  font-size: 25px;
  background-image: radial-gradient(
    rgba(245, 246, 237, 0.874),
    rgba(234, 234, 200, 0.874)
  );
  padding: 25px;
  color: rgb(45, 37, 17);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  text-wrap: wrap;
  border: 3px solid black;
}

.card3 {
  max-width: 70%;
}

.card4 {
  max-width: fit-content;
}

.card5 {
  width: fit-content;
  padding: 0px;
  min-height: 400px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.card2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card img {
  max-width: 50%;
  margin: 10px;
  max-height: 400px;
}

.btn-foot {
  border: 1px solid white;
  background-color: black;
  color: white;
  margin: auto;
}

.btn-foot:hover {
  background-color: rgb(85, 23, 23) !important;
}

.backer {
  background-image: url('./assets/images/newspaper.jpg');
  background-attachment: scroll;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

.home {
  width: 100%;
}

.container {
  width: 100%;
  height: fit-content;
}

.container h1 {
  font-size: 40px;
  text-align: center;
  background-image: radial-gradient(
    rgba(245, 246, 237, 0.874),
    rgba(234, 234, 200, 0.874)
  );
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  font: bold;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Abril Fatface', cursive;
  z-index: 2;
}

.page-top {
  max-width: 75px;
}

.page-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.clue {
  width: 100%;
}

.clue ul {
  list-style-type: none;
  margin: 0;

  background-color: rgba(254, 254, 234, 0.917);
  border: 3px solid black;

  margin: auto;

  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clue li {
  font-size: 50px;
  color: white;
  list-style-type: none;
}

.clue p {
  font-size: 25px;

  margin: 20px 0px;
  width: 100%;
  padding: 10px;
  background-color: rgba(254, 254, 234, 0.405);
  border: 1px dashed rgba(44, 31, 22, 0.551);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.cardWide ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cardWide li {
  width: 80%;
  margin: auto;
  text-align: center;
  justify-self: center;
}

.container h3 {
  font-size: 20px;
  width: fit-content;
  max-width: 38%;
  font-family: 'Newsreader', serif;

  margin-top: 10px;
  padding: 25px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.493);
  border-top: 1px solid rgb(66, 55, 27);
  border-bottom: 1px solid rgb(66, 55, 27);

  color: antiquewhite;
}

.font-smaller {
  font-size: 20px;
}

.btn-holder,
.btn-holder-left,
.btn-holder-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-image: url(./assets/images/triangle.png);
  background-size: cover;
  padding: 10px;
  margin: auto;
  align-items: center;
}

.btn-holder-left,
.btn-holder-right {
  width: 50px;
  height: 50px;
  margin: auto 0px;
}

.traits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin: 10px;
  padding: 10px;
  border: 1px dotted rgb(70, 70, 70);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: rgba(148, 142, 118, 0.428);
  color: rgb(83, 82, 82);
}

.traits:hover {
  color: black;
}

.traits2 {
  font-size: 25px;
}

.container-photo2 h4 {
  font-size: 20px;
  width: fit-content;
  max-width: 100%;
  position: absolute;
  margin-top: 10px;
  padding: 25px;
  text-align: left;
  background-color: rgb(31, 26, 12);
  color: white;
}

.classes ol {
  list-style-type: none;
  padding: 5px;
  width: 100%;
  margin: auto;
  margin-top: 0px;
}

.classes ul {
  list-style-type: none;
  padding: 5px;
  width: 100%;
  margin: 0px auto;
}

.container h2 {
  font-size: 25px;
  text-align: center;
  background-color: rgba(250, 250, 238, 0.874);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 50vw;
  margin: 20px auto;
  padding: 6px;
  font-family: 'newsreader', serif;
  box-shadow: 0px 0px 10px 5px rgba(76, 69, 38, 0.5);
}

.video {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.video-container {
  max-width: 50%;
}

.container article {
  text-indent: 18px;
  width: 80%;
  margin: 15px auto;
  font-size: 25px;
  background-image: radial-gradient(
    rgba(245, 246, 237, 0.874),
    rgba(234, 234, 200, 0.874)
  );
  padding: 25px;
  color: rgb(45, 37, 17);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  text-wrap: wrap;
  border: 3px solid black;
}

.container2 {
  text-indent: 18px;
  width: 80%;
  margin: 15px auto;
  font-size: 25px;
  background-image: radial-gradient(
    rgba(245, 246, 237, 0.874),
    rgba(234, 234, 200, 0.874)
  );
  padding: 25px;
  color: rgb(45, 37, 17);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  text-wrap: wrap;
  border: 3px solid black;
}

.row4 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container a {
  color: rgb(210, 54, 54);
  font-style: italic;
  text-decoration: none;
}

.container a:hover {
  color: white;
}

.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro img {
  width: 500px;
  max-height: 500px;
  margin: auto;
  margin: 10px;
}

.graphics {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  margin: 50px 0px;
  border: 3px solid black;
  max-height: 600px;
}

.item {
  font-size: 23px;
  text-align: center;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.item:hover {
  background-color: rgb(68, 10, 10) !important;
  color: white;
  scale: 1.1;
  transition: ease-in-out 0.5s;
}

.tray-item {
  font-size: 10px;
  margin: auto;
}

.container-photo {
  min-width: 33%;
  max-width: 50%;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.item:active {
  color: rgb(145, 31, 31) !important;
}

.container-photo2 {
  min-width: 100vw;
  position: relative;
  overflow: hidden;
  max-height: fit-content;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container-photo img {
  width: 100%;
  height: 100%;
}

.container-photo h3,
.container-photo2 h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 35px;
  padding: 300px;
  margin: 0px;
  font-family: 'Abril Fatface', serif;
  background-color: rgba(0, 0, 0, 0.52);
  color: rgb(249, 251, 225);
  /* -webkit-text-stroke: 2px rgba(0, 0, 0, 0.722); */
}

.btn:hover {
  background-color: black;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: fit-content;
  position: fixed;
  width: fit-content;
  bottom: 0;
  margin: 0;
  padding: 5px;
  flex-direction: column;
  color: black;
  opacity: 0.8;
}

.footer p {
  background-color: rgba(255, 255, 255, 0.847);
  width: fit-content;
  text-align: center;
  margin: auto;
  border-radius: 3px;
}

.mute {
  position: fixed;
  bottom: 0;
  left: 0;

  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 10px;
  z-index: 2;
}

.mute img {
  width: 150px;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column p {
  font-size: 24px;
  text-align: center;
  margin: 10px;
  color: black;
}

.column img {
  max-height: 400px;
  margin: 0px 15px;
}

.instructions a {
  color: rgb(248, 12, 12);
  font-style: italic;
  text-decoration: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.739);
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.overlay2 {
  background-color: rgba(0, 0, 0, 0.739);
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 5px;
}

.overlay4 {
  background-color: rgba(0, 0, 0, 0.739);
  height: 100%;
  min-height: 100vh;

  width: 100%;
  margin: 0;
  margin-top: -20px;
  padding: 0;
}

.instructions a:hover {
  color: white;
}

.date {
  font-size: 25px;
  color: rgb(114, 114, 73);
  font-style: italic;
  border-bottom: 1px solid rgb(114, 114, 73);
  border-top: 1px solid rgb(114, 114, 73);
  font-family: 'newsreader', serif;
}

.classes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 0px auto;
  padding: 20px;
  list-style-type: none;
  width: 95%;
  align-content: center;
}

.upside-down {
  transform: rotate(180deg);
}

.highlight2 {
  color: gray;
  text-align: center;
  margin-right: 12px;
}

.class {
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 5px;
  height: fit-content;
  min-height: 370px;
  background: radial-gradient(
    rgba(245, 246, 237, 0.874),
    rgba(203, 203, 172, 0.874)
  );
}

.class:hover {
  transition: ease-in-out 0.5s;
  scale: 1.1;
  border: 2px solid rgb(67, 49, 16);
  background-color: rgb(254, 254, 234);
}

.classes li {
  font-size: 22px;
  list-style-type: none;
  margin: auto;
  width: 100%;
}

.create {
  position: relative;
}

.play-me {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.playIcon {
  -webkit-text-stroke: 1px antiquewhite;
  color: rgba(99, 20, 20, 0.88) !important;
  font-size: 50px !important;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  background-color: black;
  top: 0;
  left: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
}

.modal-content {
  background-color: #000000;
  padding: 0px;
  border: 1px solid #888;
  width: 100%;
  height: 100%; /* Could be more or less, depending on screen size */
}

.modal-content p {
  font-size: 30px;
  text-align: center;
  margin: 15px;
  font-style: italic;
  font-family: 'newsreader', serif;
}

.btn-close {
  color: #f6f6e0;
  margin: auto;
  text-align: center;
  width: 100 !important;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
}

.btn-close:hover {
  scale: 1.1;
}

.modal video {
  width: 100%;
}

.stat li {
  color: white;
}

.highlight {
  color: rgb(206, 58, 58);
}

.big {
  font-size: 60px;
  text-align: center;
}

.avatar img {
  max-width: 50%;

  margin: 10px;
}

.avatar4 {
  width: 100%;
  max-width: 400px;
  margin-right: 15px;
}

.avatar5 {
  width: 100%;

  margin: auto;
  margin-bottom: 20px;
}

.clue img {
  margin: 10px auto;
  max-height: 350px;
  width: 100%;
  opacity: 0.5;
}
.dev-text a:hover {
  color: rgb(255, 254, 254) !important;
}

.reverse {
  transform: rotate(180deg);
}

.icon {
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
  color: antiquewhite;
}

.icon2 {
  font-size: 40px;
}

.round img {
  border-radius: 50%;
  width: 350px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border: 2px solid rgba(0, 0, 0, 0.424);
  height: 350px;
}

.round img:hover {
  animation: shake 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.develop,
.develop2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  width: 100%;
  height: 400px;
  background-position: center center;
  background-size: cover;
  border: 3px solid black;
}

.develop {
  background-image: url(./assets/images/twin-dame.png);
}

.develop2 {
  background-image: url(./assets/images/city2.png);
}

.develop h3,
.develop2 h3 {
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  font-size: 50px;
  text-align: center;
  background-color: rgba(131, 109, 109, 0.209);

  padding: 30px;
  align-items: center;
  align-self: center;

  justify-content: center;
  display: flex;

  font-family: 'Abril Fatface', serif;
  background-color: rgba(0, 0, 0, 0.52);
  color: rgb(249, 251, 225);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 3px dotted black;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-image: radial-gradient(
    rgba(245, 246, 237, 0.874),
    rgba(234, 234, 200, 0.874)
  );
  border: 3px solid black;
  max-width: 70%;
  color: black;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;
}

.diceRoll h1 {
  margin-top: 0;
}

.form label {
  /* background-image: linear-gradient(rgb(67, 54, 15), rgb(118, 117, 117)); */
  width: 100%;
  /* border: rgb(95, 58, 18) 2px solid; */
}

.weapons {
  display: flex;
  width: 80%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.weapons label {
  margin: 5px;
}

.twin {
  display: flex;
  flex-direction: row;
}

.form textarea,
.notes textarea {
  height: 150px;
}

.weapons input {
  margin: auto;
  text-align: center;
  max-width: 300px;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 10px;
  justify-content: center;
  text-align: center;
}

.box2 {
  display: flex;
  flex-direction: column;
  width: 45%;
  border: 1px solid black;
  margin: 10px;
  font-size: 20px;
  justify-content: center;
  text-align: center;

  background-image: radial-gradient(
    rgba(255, 251, 251, 0.902),
    rgb(222, 218, 183)
  );
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: black !important;
  padding: 20px;
}

.box3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid black;
  margin: 5px;
  font-size: 20px;
  justify-content: center;
  text-align: center;

  background-image: radial-gradient(
    rgba(255, 251, 251, 0.902),
    rgb(222, 218, 183)
  );
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;

  padding: 5px;
}

.box3 img {
  max-height: 120px;
}

.dice2 button {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.dice2 button:hover {
  box-shadow: 0px 0px 10px 5px rgba(122, 13, 13, 0.8);
}

.box2:hover {
  text-align: center;
  scale: 1.3;
  transition: scale 0.5s ease-in;
  background-image: radial-gradient(rgb(255, 251, 251), rgb(222, 218, 183));
  color: black !important;
}

.tray {
  background-image: radial-gradient(
    rgba(245, 246, 237, 0.874),
    rgba(121, 123, 93, 0.874)
  );
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  min-width: 80%;
}

.dev-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  border-radius: 12px;
  padding-bottom: 50px;
}

.dev-text img {
  width: 50%;
  max-height: 450px;
  max-width: 450px;
  margin: auto;
}

.gumshoe {
  width: 100%;
  margin: auto;
  text-align: center;
  justify-self: center;
  display: flex;
  position: absolute;
  top: 0;
}

.dev-text p {
  width: 50%;
  margin: auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.685);
  border-radius: 5px;
  color: white;
  font-size: 20px;
}

.subtitle2 {
  background-image: linear-gradient(rgb(67, 54, 15), rgb(118, 117, 117));
  color: white;
  padding: 2px;
}

.sub-title2 {
  color: gray;
  font-size: 18px;
  margin-left: 35px;
}

.box input {
  max-width: 150px;
  margin: auto;
}

.avatar2,
.avatar3 {
  max-width: 250px;
  max-height: 250px;
}

.avatar2 {
  border-radius: 50%;
}

.avatar3 {
  border-radius: 12px;
  margin-bottom: 20px;
}

.city {
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
  margin: auto;
  text-align: center;
  align-self: center;
}

.sub-title {
  background-color: rgba(0, 0, 0, 0.653);
  color: white;
  padding: 8px;
  margin: 10px auto;
  border-radius: 3px;
  text-align: center;
  justify-self: center;
  width: fit-content;
  padding-right: 25px;
  border-radius: 5px;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.wrap {
  float: right;
  margin: 0;
  padding: 0;
  width: 370px;
  height: 370px;
  background-image: url(./assets/images/casino-newpicture.png);
  background-position: center center;
  background-size: cover;
  max-width: 50%;
  max-height: 50%;
  opacity: 0.6;
}

.home-page {
  background-image: url(./assets/images/newspaper.jpg);
}

.italic {
  font-style: italic;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.711);
  padding: 10px;
  margin: 8px;
  margin-top: 25px;
}

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: auto;
}

.welcome h4 {
  font-size: 30px;
}

.welcome img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  opacity: 0.8;
  margin: 0px;
}

.left-headline,
.right-headline {
  border: 3px solid black;
  max-width: 33%;
  height: 80px;
  width: 100px;
  margin: auto;
  font-family: 'Macondo Swash Caps', cursive;
  font-weight: 400;
  font-style: normal;
}

.headline {
  border: 2px solid black;
  margin-top: 35px;
  padding: 15px;
  font-size: 20px;
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 0.423);
}

.headline-title {
  width: 100%;
  margin: 0;
  padding: 0;

  font-weight: 900;
}

.headline-title h5 {
  margin: 0;
  margin-top: 8px;
  padding: 0;
  font-size: 60px;
  font-family: 'Abril Fatface', serif;
}

h4 {
  font-family: 'newsreader', serif;
}

.intro h1 {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.449);
}

.bring-forward {
  z-index: 2;
}

.right-headline {
  background-color: black;
  color: white;
  text-align: center;
  width: fit-content;
}

.headline-subtitle h4 {
  font-style: italic;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.539);
}

.row-headline {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.423);
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  justify-content: space-between;
}

.welcome h4 {
  font-family: 'newsreader', serif;
}

.right-headline p {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-left: -6px;
  margin-top: 9;
  font-family: 'Macondo Swash Caps', cursive;
}

.middle-headline {
  height: 100px;

  max-width: 50%;
  margin: auto;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-headline p {
  margin: auto;
  font-family: 'Macondo Swash Caps', cursive;
}

.cents {
  font-size: 50px;
  margin: auto 0px;
  margin-left: -15px;
  font-family: 'Macondo Swash Caps', cursive;
}

.cents-small {
  font-size: 30px;

  margin: auto 0px;
  margin-left: -20px;
  padding: 0;
  text-combine-upright: calc(0.5turn);
}

.col a {
  margin: auto;
  color: rgb(227, 218, 184);
  font-size: 25px;
  font-weight: bold;
  width: fit-content;
}

.col2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.col3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 860px;
}

.col2 img {
  margin: 0;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.col a:hover {
  scale: 1.1;
}

.stripe {
  min-height: 450px;
}

.stripe ul {
  margin-left: -15px;
  width: 100%;
}

.stripe li {
  background-color: rgba(231, 231, 197, 0.973);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 22px;
  list-style: none;
  color: black;
  border: 1px solid rgb(78, 61, 24);
}

.lowLight {
  padding: 3px;
  border-radius: 3px;
}

.lowLight:hover {
  background-color: rgba(23, 21, 13, 0.469);
  color: white;
}

.stripe li:hover {
  scale: 1.2;
  color: black;
  background-color: rgb(201, 193, 161);
  width: 70%;
}

.dice img,
.dice2 img {
  max-width: 100%;
  margin: auto;
}

.dice img:hover {
  scale: 1.3;
}

#diceRes {
  background-color: rgba(94, 83, 43, 0.915);
  color: rgb(255, 255, 255);
  text-align: center;
  height: 75px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  align-content: center;
  font-size: 40px;
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 8px;
  font-family: 'Abril Fatface', serif;
  border: 3px solid rgba(255, 255, 255, 0.618);
}

.row2 {
  display: flex;
  flex-direction: row;
}

.role {
  max-width: 40%;
}

.abs {
  position: absolute;
  top: 0;
}

.rel {
  position: relative;
  width: 100%;
  height: 100%;
}

.rel img {
  width: 100%;
}

.card video {
  max-width: 100%;
}

.starter {
  padding: 45px !important;
}

.menu {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0px;
  margin: 0px;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.685) !important;
}

.nav-links {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.nav-link {
  text-align: center;
}

.left,
.middle,
.right {
  width: 25%;
  border: 1px solid white;
  background-image: radial-gradient(
    rgba(245, 246, 237, 0.874),
    rgba(234, 234, 200, 0.874)
  );
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: fit-content;
  min-height: 620px;
  margin: 15px;
  justify-content: space-evenly;
}

.right2 {
  max-width: 45%;
  border: 1px solid white;
  background-image: radial-gradient(
    rgba(245, 246, 237, 0.874),
    rgba(234, 234, 200, 0.874)
  );
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: fit-content;
  margin: 15px;
}

.left2 {
  margin: auto;
  animation: skew 8s linear infinite;
  width: 45%;
  height: 330px;
  background-image: url(./assets/images/d20.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: animation 0.5s ease-in-out;
}

.row3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
}
.row5 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

.voice-over {
  color: rgb(55, 48, 11);
  font-style: italic;
  font-size: 20px;
}

.skew {
  transform: rotate(-15deg);
  margin-bottom: 15px;
}

.left img,
.right img,
.middle img {
  max-width: 90%;

  margin: 10px auto;
}

.ghost {
  border-radius: 50%;
  margin-right: 10px;
  max-width: 400px;
  max-height: 400px;
  /* transform: translate(-50%, -50%); */
  /* animation: spin 50s linear infinite; */
}

.skill {
  max-width: 40%;

  margin: auto;
}

.skill img {
  animation: skew 20s infinite;
  width: 100%;
}

.rel img {
  min-width: 340px;
}

.text {
  margin-left: 15px;
}

.left:hover,
.middle:hover,
.right:hover {
  scale: 1.1;
  transition: scale ease-in-out 0.5s;
}

.audioContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.footsteps img {
  margin: auto;
  width: 100%;
}

.re-direct a {
  color: black;
}

.hide {
  display: none;
}

.overlay2 a,
.overlay2 {
  color: white;
  font-style: italic;
  text-decoration: none;
  text-align: center;
  margin: 0px 15px;
}

.overlay2 a:hover {
  scale: 1.1;
}

.dev-text a {
  font-size: 50px;
}

.container {
  position: relative;
}

.form {
  overflow: hidden;
}

.spacer {
  margin-bottom: 80px;
}

.overlay3 {
  background-color: rgba(91, 86, 69, 0.854);
  height: 100%;
  max-height: 400px;
  width: 100%;
  position: absolute;
  margin: auto;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  font-family: 'abril fatface', cursive;
}

.toolCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 10px;

  background-image: linear-gradient(
    to left,
    rgb(222, 218, 183),
    rgba(255, 251, 251, 0.902),
    rgb(222, 218, 183)
  );
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.tool {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  margin: auto;
  color: black;
}

.border1 {
  border: 1px solid rgb(119, 19, 19);
  padding: 10px;
  background-color: rgb(248, 249, 240);
}

.toolCard ul {
  list-style-type: none;
  margin: auto;
  min-height: 200px;
  width: 100%;
}

.toolCard li {
  font-size: 22px;
}

.toolCard button {
  margin: 15px auto;
  color: black;
  border-color: black;
}

.toolCard h4 {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 25px;
}

.toolCard h2 {
  color: black;
}

.cardWide {
  display: flex;
  justify-content: center;

  background-image: url(./assets/images/spyBack.png);
  background-size: cover;
  background-position: center center;

  border-top: 3px solid black;
  border-bottom: 3px solid black;
  flex-direction: column;
  margin: 50px 0px;
}

.containerWide {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 20px;
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80vw;
}

.btnGen {
  width: 150px;
  text-align: center;
  margin: auto;
}

.page h1 {
  margin: 0;
}

.spin {
  animation: spin 5s linear infinite;
}

.shake {
  animation: shake 5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  margin: 0 20px;
}

.diced {
  position: absolute;
  max-width: 250px;
  animation: skew-reverse 3s linear infinite;
}

.diced img {
  max-width: 100%;
}

.hover {
  animation: hover 3s infinite;
}

.float {
  animation: float 5s infinite;
}

.float2 {
  animation: floatAlt 5s infinite;
}

.hide {
  display: none;
}

.neonNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  height: fit-content;
  position: fixed;
  bottom: 0;
  z-index: 1;
  text-align: center;
}

.neonNav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0;

  background-color: rgba(0, 0, 0, 0.685);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
  list-style: none;
}

.neonNav li {
  text-align: center;
  width: 100%;
  font-size: 15px;
  padding: 5px;
  color: black;
  font-family: 'newsreader', serif;
}

.neonNav li:hover {
  background-color: rgb(59, 6, 6);
  color: black;
}

.neonNav a {
  color: antiquewhite;
  padding: 5px;
  border-radius: 5px;
  font-style: normal !important;
}

.neonNav li:active {
  background-color: rgb(60, 10, 20);
}

.splineVid {
  width: 100%;
  height: 100%;
}

@keyframes floatAlt {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
  }
  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes skew {
  0% {
    transform: rotate(0deg);
    margin-right: 0px;
  }
  25% {
    transform: rotate(45deg);
    margin-right: 10px;
  }
  50% {
    transform: rotate(90deg);
    margin-right: 0px;
  }
  75% {
    rotate: (45deg);
    margin-right: -10px;
  }

  100% {
    transform: rotate(0deg);
    margin-right: -0px;
  }
}

@keyframes skew-reverse {
  100% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-45deg);
    margin-left: 5px;
  }
  50% {
    transform: rotate(-90deg);
    margin-left: 15px;
  }
  25% {
    rotate: (-45deg);
    margin-right: 5px;
  }

  0% {
    transform: rotate(0deg);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media screen and (max-width: 600px) {
  .header {
    margin-bottom: 5px;
    max-width: 100vw;
  }
  .container-photo h3 {
    font-size: 35px;
  }

  .container h1 {
    font-size: 30px;
  }

  .container p {
    width: 70vw;
  }

  .left,
  .middle,
  .right {
    width: 75%;
  }

  .container-photo {
    min-width: 100%;
    max-height: 100vw;
    margin: 0;
    margin-top: -5px;
  }

  .container img {
    max-width: 100%;
  }

  .graphics {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100%;
  }

  .rel img {
    min-width: 200px;
  }

  .card {
    min-width: 80%;
  }

  .card4 {
    width: 80%;
  }

  .neonNav {
    display: none;
  }

  .card5 {
    width: 100%;
  }

  .skill {
    display: none;
  }

  .row2 {
    flex-direction: column;
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: auto;
    text-align: center;
  }

  .nav-link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .tray-item {
    display: none;
  }

  .dev-text {
    max-width: 80%;
    margin: auto;
    justify-content: center;
    font-size: 18px;
  }

  .dev-text p {
    font-size: 22px;
    padding: 2px;
  }

  .dice {
    margin: 0;
    padding: 0;
  }

  .left2 {
    display: none;
  }

  .left-headline {
    width: 50px;
  }

  .right2 {
    max-width: 80%;
  }

  .nav-bar {
    display: none;
  }

  .dev-text img {
    max-width: 280px;
    margin: auto;
  }

  .intro img {
    width: 80vw;
  }

  .column {
    flex-direction: column;
    font-size: 25px;
    overflow: hidden;
  }

  .role {
    max-width: 80%;
  }

  .container h3 {
    max-width: 100%;
  }

  .backer {
    background: url(./assets/images/newspaper-mobile.jpg) center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  .overlay3 {
    max-height: 220px;
  }

  .stripe li {
    list-style: none;
    width: 100%;
    text-align: center;
  }

  .btn-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 500px;
    overflow-x: hidden;
    position: relative;
  }

  .btn-holder img {
    width: 100%;
    height: 100%;
  }

  .box {
    padding: 0px;
    margin: auto;
  }

  .page-container {
    width: 100%;
  }

  .box2 {
    width: 95%;
  }

  .box2:hover {
    scale: 1.5;
    max-width: 90%;
  }

  .body {
    max-width: 100vw;
  }

  .intro img {
    margin-left: 0;
  }
  .big {
    font-size: 55px;
    text-align: center;
    margin-left: -5px;
  }

  .row3 {
    flex-direction: column;
    width: 100%;
  }

  .classes {
    width: 100%;
    margin: auto;
    padding: 0;
  }

  .tray {
    background-image: none;
    min-width: none;
  }

  .class {
    font-size: 15px;
    width: 80%;
    margin: 10px auto;
  }

  .welcome {
    margin-left: 0;
  }

  .class li {
    font-size: 25px;
  }

  .clue p {
    font-size: 22px;
  }

  .headline-container img {
    max-height: 150px;
    max-width: 150px;
    margin: auto;
  }

  .wrap {
    float: inline-start;
    max-width: 100%;
    max-height: 300px;
  }

  .container h1 img {
    width: 50px;
    margin: auto;
  }

  .headline {
    max-width: 100%;
    font-size: 25px;
  }

  .clue {
    margin: auto;
    padding: 0;
  }

  .clue ul {
    text-align: left;
    justify-self: flex-start;
  }

  .clue li {
    font-size: 35px;
    padding: 0px;
  }

  .form {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 25px;
    width: 90%;

    padding: 10px;
    margin: auto;
  }

  .mute {
    font-size: 40px;

    margin-left: 25px;
    margin-bottom: 10px;
  }

  .mute img {
    width: 55px;
  }

  .middle-headline {
    font-size: 25px;
  }

  .cents {
    font-size: 30px;
  }

  .cents-small {
    font-size: 20px;
  }

  .footer {
    justify-content: flex-end;
    right: 0;
    bottom: 0;
  }

  .right-headline p {
    font-size: 15px;
    width: fit-content;
    margin-left: -15px;
    align-items: center;
  }

  .headline-title h5 {
    font-size: 40px;
  }

  .instructions {
    max-width: 100%;
  }
  .avatar4 {
    min-width: 80%;
  }

  .footer p {
    background: none;
  }

  .twin {
    flex-direction: column;
  }

  .row2 img {
    width: 100%;
  }

  .round img {
    width: 250px;
    height: 250px;
  }

  .row4 {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .box3 {
    max-width: 50%;
  }

  .gumshoe {
    margin: auto;
    text-align: center;
    justify-self: center;
    min-width: 350px;
    margin-top: 70px !important;
  }

  .page h1 {
    margin-top: 50px;
  }

  .box3 {
    max-width: 50%;
  }

  .spacer {
    margin-bottom: 60px;
  }

  .menu {
    top: 0;
    left: 0;
    flex-direction: row;
    height: fit-content;
    min-width: 100%;
    justify-content: space-evenly;
  }

  .tray-item {
    display: none;
  }

  .nav-links {
    padding-left: 3px;
    bottom: auto;
    flex-direction: row;
    min-width: 100%;
  }

  .toolCard {
    text-wrap: wrap;
  }

  .toolCard p {
    width: 80%;
    margin: auto;
    padding: 10px;
  }

  .video {
    margin: 0;
    max-width: 100%;

    margin-top: 0;
  }

  .video-container {
    max-width: 100%;
    margin-top: 0;
    height: 250px;
    justify-content: center;
  }

  .toolCard p {
    font-size: 18px;
  }

  .border1 li {
    font-size: 18px !important;
  }

  .tray {
    display: none;
  }

  .icon {
    font-size: 50px;
  }

  .border1 {
    width: 100%;
  }

  .starter {
    margin-top: 55px !important;
  }

  .play-me {
    right: 10;
    top: 90%;
  }
}
