.header {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/news-back.jpg');
  background-position: center;
  background-size: cover;
  margin: 0;
  background-color: rgba(28, 28, 28, 0.859);
  z-index: 999;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: #801414;
  border: 1px solid #242424;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background: #1c1c1c;
}

body::-webkit-scrollbar-thumb:hover {
  background: #ca1717;
}
